@inherits LayoutComponentBase

<div class="page">
    <main>
        
        @Body
    </main>
</div>

<style>
    
    body {
        background-color: #FAFAFA;
    }
    
    /* Elimina márgenes plantilla  */
    main {
        width: 100%;
    }
</style>
