
/* Logo */
.logo-img {
    height: 35px;
    margin-bottom: 40px;
    border-right: var(--border-color) solid 2px ;
    padding: 0px 24px;
}

/* Header */
.page-header {
    background: var(--primary-surface); 
    padding: 48px 40px;
    margin-bottom: 48px;
    position: relative; /* Necesary for effects */
    overflow: hidden; 
    border-radius: 8px;
}

/* Subtitle */
.section-header {
    padding: 10px 24px;
}

.loading-message {
    color: var(--text-primary);
    font-style: italic;
}


/* Title animation */
.main-title {
    margin: 0;
    opacity: 0;
    transform: translateY(10px);
    
    animation: fadeInUpTitle 0.8s cubic-bezier(0.2, 0.8, 0.2, 1) forwards;
    animation-delay: 0.2s; 
}

/* Decorative Gradient  */
.page-header::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px; 
    background: var(--gradient-jazzy);
    
    /* Gradient Animation */
    transform: scaleX(0); 
    transform-origin: left; 
    animation: growLine 1.2s cubic-bezier(0.19, 1, 0.22, 1) forwards;
}


/* Animation */
@keyframes fadeInUpTitle {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes growLine {
    to {
        transform: scaleX(1);
    }
}
